* {
  text-align: center;
  background-color: antiquewhite;
}

div {
  color: rgb(31, 30, 32);
}

.p {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  width: 800px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.kutu {
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 800px;
}
img {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 800px;
}
li {
  text-align: left;
  font-size: 15px;
}
