* {
  text-align: center;
}

h1 {
  color: brown;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
}
/* solid | double | dashed*/
/* ciygi kalinligi, cizgi turu renk*/

.tablo {
  border: 4px solid grey;
  border-collapse: collapse;
  width: 50%; /* Yüzdelik dilim sayfaya göre hesaplanır. */
  margin-left: auto; /* Sol ve Sağdan otomatik boşluk koyarak nesneler ortaya
                       hizalanabilir. */
  margin-right: auto;
}
/* firden fazla atribute e ayni stillendirme yapilacaksa virgul ile ayrilarak birlikte stylendirilebilir*/

th,
td {
  border: 2px solid grey;
}
th {
  background-color: rgb(53, 88, 151);
}
tr {
  background-color: rgb(202, 191, 191);
}
